<!--
Name: Ko Jia Ling
Admin No.: 190681D
Module Group: IT2554-03

Practical Assignment 1
D' Crypt
diffie-hellman-key-exchange.html
-->

{% extends "base.html" %}
{% block title %}D&apos; Crypt | Diffie-Hellman Key Exchange{% endblock %}
{% block style %}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .form-control {
        width: 90%;
    }
}

#primeOneError,
#primeTwoError {
    width: 270px;
}

#privateOneError,
#privateTwoError {
    width: 370px;
}
{% endblock %}

{% block headScripts %}{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field, render_field_label %}
<div class="container-fluid pb-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br>
            <h1>Diffie-Hellman Key Exchange</h1>
            <br>

            <form method="GET" id="cipher-form" onsubmit="return validateInputs();" class="row">
                {% block inputFields %}
                {% endblock %}

                <div class="form-group col-lg-6">
                    {{ render_field_label(form.primeOne, class= "form-control", placeholder="") }}
                    <div class="alert alert-danger mt-3" role="alert" id="primeOneError">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                        Value has to be a prime number.
                    </div>
                </div> <!--Form Group-->

                <div class="form-group col-lg-6">
                    {{ render_field_label(form.primeTwo, class= "form-control", placeholder="") }}
                    <div class="alert alert-danger mt-3" role="alert" id="primeTwoError">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                        Value has to be a prime number.
                    </div>
                </div> <!--Form Group-->

                <div class="form-group col-lg-6">
                    {{ render_field_label(form.privateOne, class= "form-control", placeholder="") }}
                    <div class="alert alert-danger mt-3" role="alert" id="privateOneError">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                        Value has to be a whole number (0 and above).
                    </div>
                </div> <!--Form Group-->

                <div class="form-group col-lg-6">
                    {{ render_field_label(form.privateTwo, class= "form-control", placeholder="") }}
                    <div class="alert alert-danger mt-3" role="alert" id="privateTwoError">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                        Value has to be a whole number (0 and above).
                    </div>
                </div> <!--Form Group-->

                <div class="form-group form-inline col-md-12 my-4">
                    <input type="submit" name="submit" value="Calculate" class="btn btn-blue mr-2">
                    {% if error==True %}
                        <div class="alert alert-danger mt-3" role="alert">
                            <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                            Unable to calculate key.
                        </div>
                    {% endif %}
                </div> <!--Form Group-->

                <div class="form-group col-md-6">
                    {{ render_field_label(form.keyOne, class= "form-control", placeholder="Key", readonly=True) }}
                </div> <!--Form Group-->

                <div class="form-group col-md-6">
                    {{ render_field_label(form.keyTwo, class= "form-control", placeholder="Key", readonly=True) }}
                </div> <!--Form Group-->

                <div class="col-md-6 mt-4">
                    <a id="copyBtn" class="btn btn-orange"><i class="far fa-clone" style="color: white;"></i>&nbsp;Copy Output to Clipboard</a>
                </div> <!--Form Group-->
            </form>
        </div> <!--Col-->
    </div> <!--Row-->
</div> <!--Container-->
{% endblock %}

{% block bodyScripts %}
document.addEventListener("DOMContentLoaded", function(){
    document.getElementById("primeOneError").style.display = 'none';
    document.getElementById("primeTwoError").style.display = 'none';
    document.getElementById("privateOneError").style.display = 'none';
    document.getElementById("privateTwoError").style.display = 'none';
});

function validateInputs() {
    document.getElementById("primeOneError").style.display = 'none';
    document.getElementById("primeTwoError").style.display = 'none';
    document.getElementById("privateOneError").style.display = 'none';
    document.getElementById("privateTwoError").style.display = 'none';

    primeOne = document.getElementById("primeOne").value;
    primeTwo = document.getElementById("primeTwo").value;
    privateOne = document.getElementById("privateOne").value;
    privateTwo = document.getElementById("privateTwo").value;
    if (!isPrime(primeOne)) {
        document.getElementById("primeOneError").style.display = '';
        return false;
    }
    else if (!isPrime(primeTwo)) {
        document.getElementById("primeTwoError").style.display = '';
        return false;
    }
    else if (!privateOne.match(/^\+?(0|[1-9]\d*)$/)) {
        document.getElementById("privateOneError").style.display = '';
        return false;
    }
    else if (!privateTwo.match(/^\+?(0|[1-9]\d*)$/)) {
        document.getElementById("privateTwoError").style.display = '';
        return false;
    }
    else {
        return true;
    }
}

function isPrime(num) {
  for(var i = 2; i <= Math.sqrt(num); i++)
    if(num % i === 0) return false;
  return num > 1;
}

document.getElementById("copyBtn").addEventListener('click', function() {
output = document.getElementById("keyOne").textContent;
    copyTextToClipboard(output);
});

/*Clipboard*/
function fallbackCopyTextToClipboard(text) {
  var textArea = document.createElement("textarea");
  textArea.value = text;
  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand("copy");
    var msg = successful ? "successful" : "unsuccessful";
    console.log("Fallback: Copying text command was " + msg);
  } catch (err) {
    console.error("Fallback: Oops, unable to copy", err);
  }

  document.body.removeChild(textArea);
}

function copyTextToClipboard(text) {
  if (!navigator.clipboard) {
    fallbackCopyTextToClipboard(text);
  }
  navigator.clipboard.writeText(text).then(
    function() {
      console.log("Async: Copying to clipboard was successful!");
    },
    function(err) {
      console.error("Async: Could not copy text: ", err);
    }
  );
}
{% endblock %}