<!--
Name: Ko Jia Ling
Admin No.: 190681D
Module Group: IT2554-03

Practical Assignment 1
D' Crypt
learn-simple-columnar-transposition.html
-->


{% extends "learn-base.html" %}
{% block title %}D' Crypt | About Simple Columnar Transposition{% endblock %}
{% block style %}{% endblock %}

{% block headScripts %}{% endblock %}

{% block content %}
<div class="col-md-9">
    <br>
    <h1>Simple Columnar Transposition Technique</h1>
    <br>

    <h2>How it Works</h2>
    <p>
        Simple columnar transposition technique encrypts plaintext using the following steps:
        <ol>
            <li>Write the plaintext row-by-row. The number of columns is determined by the length of the key.</li>
            <li>Read the output column-by-column, in the order of the key.</li>
            <li>The read message is the ciphertext.</li>
        </ol>
    </p>

    <br>
    <h2>Example</h2>
    <p class="tabLink">Click <a href="/cipher/simple-columnar-transposition-technique">here</a> to try it out.</p>

    <div class="table-responsive">
        <table class="table table-bordered table-dark text-center" style="width: 350px;">
            <tr>
                <th width="40px" class="text-left">Order</th>
                <th>1</th>
                <th>3</th>
                <th>5</th>
                <th>2</th>
                <th>4</th>
            </tr>
            <tr>
                <th class="text-left">Key</th>
                <th>C</th>
                <th>R</th>
                <th>Y</th>
                <th>P</th>
                <th>T</th>
            </tr>

            <tr>
                <td rowspan="4"></td>
                <td>E</td>
                <td>n</td>
                <td>c</td>
                <td>r</td>
                <td>y</td>
            </tr>
            <tr>
                <td>p</td>
                <td>t</td>
                <td>i</td>
                <td>o</td>
                <td>n</td>
            </tr>
            <tr>
                <td> </td>
                <td>i</td>
                <td>s</td>
                <td> </td>
                <td>c</td>
            </tr>
            <tr>
                <td>o</td>
                <td>o</td>
                <td>l</td>
                <td>!</td>
                <td> </td>
            </tr>
        </table>
    </div> <!--Table Div-->

    <table class="table table-bordered table-dark mt-3">
        <tr>
            <th colspan="2">Key = CRYPT</th>
        </tr>

        <tr>
            <th width="30px">Plaintext</th>
            <td>Encryption is cool!</td>
        </tr>

        <tr>
            <th>Ciphertext</th>
            <td>Ep oro !ntioynccisl</td>
        </tr>
    </table>
</div>

{% endblock %}

{% block bodyScripts %}
{% endblock %}