<!--
Name: Ko Jia Ling
Admin No.: 190681D
Module Group: IT2554-03

Practical Assignment 1
D' Crypt
learn-vernam-cipher.html
-->

{% extends "learn-base.html" %}
{% block title %}D' Crypt | About Vernam Cipher{% endblock %}
{% block style %}{% endblock %}

{% block headScripts %}{% endblock %}

{% block content %}
<div class="col-md-9">
    <br>
    <h1>Vernam Cipher</h1>
    <br>

    <h2>How it Works</h2>
    <p>Vernam cipher is also known as a "One Time Pad". It makes use of a random set of non-repeating input characters that is only used once.
        This makes it highly secure as the pad is never reused for encryption. The length of the one-time pad is equal to the length of the plaintext.

    <p>It has been classified as both a substitution technique as well as a transposition technique.</p>

    <p>
        Vernam cipher encrypts plaintext using the following steps:
        <ol>
            <li>Encode each plaintext letter as a number in an increasing sequence. i.e. A = 0, B = 1, C = 2, ... Z = 25</li>
            <li>Encode each letter of the one-time pad in the same way.</li>
            <li>Add each number corresponding to the plaintext letter to the corresponding one time pas number.</li>
            <li>Calculate modulo 26 of the sum.</li>
            <li>Translate each number of the sum back to the corresponding alphabet. This produces the ciphertext.</li>
        </ol>
    </p>

    <br>
    <h2>Example</h2>
    <p class="tabLink">Click <a href="/cipher/vernam-cipher">here</a> to try it out.</p>

    <div class="table-responsive">
        <table class="table table-bordered table-dark text-center">
            <tr>
                <th class="text-left">Plaintext</th>
                <td>E (4)</td>
                <td>N (13)</td>
                <td>C (2)</td>
                <td>R (17)</td>
                <td>Y (24)</td>
                <td>P (15)</td>
                <td>T (19)</td>
                <td>I (8)</td>
                <td>O (14)</td>
                <td>N (13)</td>
            </tr>
            <tr>
                <th class="text-left">Pad</th>
                <td>J (9)</td>
                <td>A (0)</td>
                <td>U (20)</td>
                <td>V (21)</td>
                <td>G (6)</td>
                <td>K (10)</td>
                <td>W (22)</td>
                <td>C (2)</td>
                <td>H (7)</td>
                <td>M (12)</td>
            </tr>
            <tr>
                <th class="text-left">Ciphertext</th>
                <td>N (13)</td>
                <td>N (13)</td>
                <td>W (22)</td>
                <td>M (12)</td>
                <td>E (4)</td>
                <td>Z (25)</td>
                <td>P (15)</td>
                <td>K (10)</td>
                <td>V (21)</td>
                <td>Z (25)</td>
            </tr>
        </table>
    </div> <!--Table Div-->

    <table class="table table-bordered table-dark mt-3">
        <tr>
            <th colspan="2">Key = JAUVGKWCHM</th>
        </tr>

        <tr>
            <th width="30px">Plaintext</th>
            <td>ENCRYPTION</td>
        </tr>

        <tr>
            <th>Ciphertext</th>
            <td>NNWMEZPKVZ</td>
        </tr>
    </table>
</div>

{% endblock %}

{% block bodyScripts %}
{% endblock %}