<!--
Name: Ko Jia Ling
Admin No.: 190681D
Module Group: IT2554-03

Practical Assignment 1
D' Crypt
simple-columnar-transposition-technique.html
-->

{% extends "cipher-base.html" %}
{% block title %}D' Crypt | Simple Columnar Transposition Technique{% endblock %}
{% block style %}{% endblock %}

{% block headScripts %}{% endblock %}

{% block cipherName %}Simple Columnar Transposition Technique{% endblock %}
{% block learnLink %}<p class="tabLink">Click <a href="/learn/simple-columnar-transposition-technique">here</a> to learn how it works.</p>{% endblock %}

{% block inputFields %}
    <div class="form-group form-inline">
        {{ render_field_label(cipherForm.key, class= "form-control mr-2", style="width: 400px;") }}

        <div class="alert alert-danger mt-3" role="alert" id="keyError">
            <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
            <span id="keyErrorMessage"></span>
        </div>
    </div> <!--Form Group-->

    <div class="form-group">
        {% for subfield in cipherForm.encryptionString %}
            <label class="radio-container">
                {{ subfield.label }}
                {{ subfield }}
                <span class="radio-checkmark"></span>
            </label>
        {% endfor %}
    </div> <!--Form Group-->
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyScripts %}
document.addEventListener("DOMContentLoaded", function(){
  document.getElementById("keyError").style.display = 'none';
});

function validateInputs() {
    keyValue = document.getElementById("key").value;
    if (!keyValue.match(/^[0-9a-zA-Z]+$/)) {
        document.getElementById("keyError").style.display = '';
        document.getElementById("keyErrorMessage").innerText = 'Key can only consist of alphanumeric characters (A to Z, 0 to  9)';
        return false;
    }
    else if (keyValue.match(/(.).*\1/)) {
        document.getElementById("keyError").style.display = '';
        document.getElementById("keyErrorMessage").innerText = 'Key cannot contain duplicate letters/numbers.';
        return false;
    }
    else {
        return true;
    }
}
{% endblock %}