<!--
Name: Ko Jia Ling
Admin No.: 190681D
Module Group: IT2554-03

Practical Assignment 1
D' Crypt
vernam-cipher.html
-->

{% extends "cipher-base.html" %}
{% block title %}D' Crypt | Vernam Cipher{% endblock %}
{% block style %}{% endblock %}

{% block headScripts %}{% endblock %}

{% block cipherName %}Vernam Cipher{% endblock %}
{% block learnLink %}<p class="tabLink">Click <a href="/learn/vernam-cipher">here</a> to learn how it works.</p>{% endblock %}

{% block inputFields %}
    <div class="form-group form-inline">
        {{ render_field_label(cipherForm.key, class= "form-control mr-2", style="width: 75%;") }}
        <input class="btn btn-generate d-inline mr-2" type="button" value="Generate Key" onClick="generateKey();">

        <div class="alert alert-danger mt-3" role="alert" id="keyError">
            <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
            <span id="keyErrorMessage"></span>
        </div>
    </div> <!--Form Group-->
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyScripts %}
document.addEventListener("DOMContentLoaded", function(){
  document.getElementById("keyError").style.display = 'none';
});

function validateInputs() {
    document.getElementById("keyError").style.display = 'none';

    keyValue = document.getElementById("key").value.replace(/\s/g,'');
    inputValue = document.getElementById("inputText").value.replace(/\s/g,'');

    if (keyValue.length!=inputValue.length) {
        document.getElementById("keyErrorMessage").innerText = 'Pad has to be equal length to Input text';
        document.getElementById("keyError").style.display = '';
        return false;
    }

    else if (!keyValue.match(/^[a-zA-Z]+$/)) {
        document.getElementById("keyErrorMessage").innerText = 'Pad should only contain alphabets (a-z, A-Z)';
        document.getElementById("keyError").style.display = '';
        return false;
    }
    else {
        return true;
    }
}

function generateKey() {
    length = document.getElementById("inputText").value.length;

    var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
	var randomKey = '';
	for (var i=0; i<length; i++) {
		var randomChar = Math.floor(Math.random() * chars.length);
		randomKey += chars.substring(randomChar,randomChar+1);
	}

    document.getElementById("key").value = randomKey;
}
{% endblock %}